<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103359214072-qmefojfagc5pl92b8i3ef7jjv9fjln8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103359214072-qmefojfagc5pl92b8i3ef7jjv9fjln8l</string>
	<key>API_KEY</key>
	<string>AIzaSyCYLL0ME4smQcEYD6LqlVp5G6_7zToDpms</string>
	<key>GCM_SENDER_ID</key>
	<string>103359214072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.CoPro</string>
	<key>PROJECT_ID</key>
	<string>copro-11b83</string>
	<key>STORAGE_BUCKET</key>
	<string>copro-11b83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103359214072:ios:24b28835fc06439938260d</string>
</dict>
</plist>